.navigation {
  border: 1px solid #000;
}
.page-navigation {
  display: flex;
  justify-content: space-between;
  padding: 16px 10px;
}
.logo {
  position: relative;
}

.nav {
  padding: 30px 0;
}

@media screen and (min-width: 576px) {
  .page-navigation {
    padding: 16px 80px;
  }

  .nav {
    padding: 30px 0;
  }
}
